<app-side-nav class="sidenav navbar navbar-vertical fixed-left navbar-expand-xs navbar-light bg-white"
              id="sidenav-main"></app-side-nav>
<div class="main-content" id="panel">
  <!-- Topnav -->
  <app-nav-bar></app-nav-bar>
  <!-- Header -->
  <div class="header pb-6">
    <div class="container-fluid">
      <div class="header-body" ng-if="!views.is_view_fashion">
        <app-current-state current="vm.title"></app-current-state>
        <!-- Card stats -->
      </div>
    </div>
  </div>
  <!-- Header -->
  <!-- Page content -->
  <div class="container-fluid mt--6">

    <div class="row">
      <div class="card-wrapper">
        <div class="card">
          <div class="table table-responsive">
            <table class="table table-striped table-advance table-hover user-list" st-pipe="doPaginate"
                   st-table="providers">
              <!--<table class="table table-striped table-advance table-hover user-list">-->
              <thead>
              <tr style="color: #3498db">
                <th><i class="fa fa-tag"></i> ID</th>
                <th>Business Name</th>
                <th>Email</th>
                <th>Billing Address</th>
                <th>PhoneNumber</th>
                <th>Status</th>
                <th>Date Created</th>
                <th><i class="fas fa-grip-lines"></i>Toggle Provider Status</th>

              </tr>
              </thead>

              <tbody ng-if="!isLoading && !loadFailed">
              <tr ng-repeat="item in providers">
                <td>{{item.serial_no}}</td>
                <td>{{item.businessName}}</td>
                <td class="text-left">{{item.email}}</td>
                <td class="text-left"> {{item.billingAddress}}</td>
                <td class="text-left"> {{item.phoneNumber}}</td>
                <td class="text-left">
             <span class="badge" ng-style="match_status_code(item.status).style">
               {{item.status}}
             </span>
                </td>
                <td class="text-left" ng-bind="item.createdAt| date"></td>
                <td class="text-left ">
                  <button type="button" class="btn btn-sm btn-secondary" data-toggle="modal" data-target="#disableModal" ng-click="showDisableProviderModal(item)">
                    <i class="fas fa-ban"></i>
                  </button>
                </td>
              </tr>

              </tbody>
              <tbody ng-if="isLoading">
              <tr>
                <td colspan="8" class="text-center">
                  <i class="fa fa-3x fa-spinner fa-spin"></i>

                  <p>Loading...</p>
                </td>
              </tr>
              </tbody>

              <!--<tbody ng-if="!isLoading && loadFailed">-->
              <!--<tr>-->
              <!--<td colspan="8" style="padding: 0;">-->
              <!--<div class="alert alert-danger fade in text-center" style="margin: 0;">-->
              <!--<i class="fa fa-4x fa-warning" style="display: block;"></i>-->
              <!--<strong>Error!</strong> <span>{{loadError}}</span><br>-->
              <!--<a style="cursor:pointer;" ng-click="reload()">Try Again</a>-->
              <!--</div>-->
              <!--</td>-->
              <!--</tr>-->
              <!--</tbody>-->

              <!--<tbody ng-if="isEmptyRecord">-->
              <!--<tr>-->
              <!--<td colspan="9" style="padding: 0;">-->
              <!--<div class="alert alert-warning fade in text-center" style="margin: 0;">-->
              <!--<i class="fa fa-4x fa-frown-o" style="display: block;"></i>-->
              <!--<strong><i class="fa fa-2x fa-database"></i> No Record Match Found!</strong> <br>-->
              <!--</div>-->
              <!--</td>-->
              <!--</tr>-->
              <!--</tbody>-->

              <tbody ng-if="noProviders">
              <tr>
                <td colspan="8" style="padding: 0;">
                  <div class="alert alert-warning fade in text-center" style="margin: 0;">
                    <i class="fa fa-4x fa-database" style="display: block;"></i>
                    <strong>No Providers on the platform Yet!</strong> <br>
                  </div>
                </td>
              </tr>
              </tbody>


              <tfoot>
              <tr>
                <td class="text-center" st-pagination="" st-items-by-page="pageSize" colspan="{{colspan}}">
                </td>
              </tr>

              </tfoot>
            </table>


          </div>
        </div>
      </div>
    </div>

  </div>
    <div class="modal fade" id="disableModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header bg-primary-custom">
                    <h6 class="modal-title" id="modal-title-notification">Info!!</h6>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="py-3 text-center">
                        <i class="ni ni-delivery-fast fa-3x"></i>
                        <h4 class="mt-4">This would {{status_action}} <span class="heading">{{provider.businessName}}</span> and all thier products</h4>
                    </div>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Go back</button>
                    <button type="button" class="btn btn-danger" data-dismiss="modal" ng-click="disableProviderAction()">Yes, {{status_action}}</button>
                </div>
            </div>
        </div>
    </div>



</div>




