<form name="FashionUploadForm" novalidate ng-init="initController()">
    <div class="row">
        <div class="col-lg-6">
            <div class="card-wrapper">
                <!-- Input groups -->
                <div class="card">
                    <!-- Card header -->
                    <div class="card-header">
                        <h3 class="mb-0">Fashion Product Info</h3>
                        <p style="font-size:small">Fields marked <span class="text-red">*</span> are required</p>
                    </div>
                    <!-- Card body -->
                    <div class="card-body">
                        <!--product name-->
                        <div class="row">
                            <div class="col-12">
                                <div class="form-group">
                                    <label for="fashionName">Product Name</label>
                                    <span class="text-red">*</span>
                                    <div class="input-group input-group-merge">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text"><i class="fas fa-user"></i></span>
                                        </div>
                                        <input class="form-control" id="fashionName" name="fashionName"
                                               placeholder="Product name" type="text" ng-model="fashion_info.name"
                                               ng-required="true">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--price-->
                        <div class="row">
                            <div class="col-12">
                                <div class="form-group">
                                    <label for="fashionPrice">Product Price</label>
                                    <span class="text-red">*</span>
                                    <div class="input-group input-group-merge">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text">₦</span>
                                        </div>
                                        <input class="form-control" id="fashionPrice" ng-model="fashion_info.price"
                                               name="FashionPrice" placeholder="Price" type="text" ng-required="true">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--Quantity-->
                        <div class="row">
                            <div class="col-12">
                                <div class="form-group">
                                    <label for="FashionQuantity">Quantity</label>
                                    <div class="input-group input-group-merge">
                                        <input class="form-control" placeholder="Quantity" id="FashionQuantity"
                                               ng-model="fashion_info.quantity" name="FashionQuantity" type="text"
                                               ng-required="true">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text"><i class="fas fa-map-marker"></i></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--Color-->
                        <div class="row">
                            <div class="col-12">
                                <div class="form-group">
                                    <label for="FashionColor">Color</label>
                                    <span class="text-red">*</span>
                                    <div class="input-group input-group-merge">
                                        <input class="form-control" placeholder="Color" id="FashionColor" type="text"
                                               ng-model="fashion_info.color" name="FashionColor" ng-required="true">
                                        <div class="input-group-append">
                                            <span class="input-group-text"><i class="fas fa-eye"></i></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--gender-->
                        <div class="row">
                            <div class="col-12">
                                <div class="form-group">
                                    <label for="gender">Gender Category</label>
                                    <span class="text-red">*</span>
                                    <select
                                            name="gender_category"
                                            id="gender"
                                            ng-required="true"
                                            class="form-control"
                                            ng-model="fashion_info.gender"
                                            ng-options="gender for gender in genders">

                                    </select>
                                </div>
                            </div>
                        </div>

                        <!--Product describe-->
                        <div class="row">
                            <div class="col-12">
                                <div class="form-group">
                                    <label for="ProductDescription">Product Description</label>
                                    <span class="text-red">*</span>
                                    <textarea class="form-control" id="ProductDescription"
                                              ng-model="fashion_info.description" rows="3"
                                              ng-required="true"></textarea>
                                </div>
                            </div>
                        </div>
                        <!--end-->
                    </div>
                </div>
                <!-- Text editor -->
            </div>
        </div>
        <div class="col-lg-6">
            <div class="card-wrapper">
                <!-- Tags -->
                <div class="card">
                    <!-- Card header -->
                    <div class="card-header">
                        <h3 class="mb-0"></h3>
                    </div>
                    <!-- Card body -->
                    <div class="card-body">
                        <!--brand-->
                        <div class="row">
                            <div class="col-12">
                                <div class="form-group">
                                    <label for="brand">Product Brand</label>
                                    <div class="input-group input-group-merge">
                                        <input type="text" class="form-control" id="brand"
                                               ng-model="fashion_info.brand"/>
                                        <div class="input-group-append">
                                            <span class="input-group-text"><i class="fas fa-eye"></i></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--size-->
                        <div class="row">
                            <div class="col-12">
                                <div class="form-group">
                                    <label for="brand">Product Size</label>
                                    <span class="text-red">*</span>
                                    <div class="input-group input-group-merge">
                                        <select
                                                name="product_size"
                                                ng-required="true"
                                                class="form-control"
                                                ng-model="fashion_info.size"
                                                ng-options="size for size in product_size">
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--end-->
                        <file-upload></file-upload>
                        <!--submit-->
                        <div class="card">
                            <button class="btn btn-success" ng-click="createFashionProduct(FashionUploadForm.$valid)"
                                    ng-disabled="FashionUploadForm.$invalid">Create Product
                            </button>
                        </div>
                    </div>
                </div>


            </div>
        </div>

    </div>
</form>
